.header{
  grid-area:h;
  background-color:#76ed6d;
  
  }
  .header img{
      width:80px;
      height:80px;
      left:60px;
      position:absolute;
  }
  .text{
    position:absolute;
    left:140px;
    top:-5px;
    font-size:30px;
    color:#dea459;
    font-family:sans-serif;
  }