.nav {
  grid-area: n;
  background-color: #76ed6d;
  font-size: 20px;
  padding: 20px;
}
.nav a {
  color: #6d96ed;
  text-decoration: none;
}
.nav a.active {
  color: #dec059;
}
.nav a.hover {
 cursor:pointer;
}